#navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.tab a{
    text-decoration: none;
    color:#00CED1;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 12px 20px 12px 20px;
    border: 1px solid lightgray;
    border-radius: 8px;

}
li a:hover {
    color:#00688B;
}
li{
    display: inline;
    width: 33%;
    height: 50px;
}

.header{
    font-family: 'Roboto', sans-serif;
    color: #3EC271;
    font-size: 40px;
    line-height:0.5;
}
h3{
    position: absolute;
    left:0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4vw;
}
.paragraph{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25vw;
}
#wrapper{
    margin: 0 10px 0 200px;
}
#floatRight{
    float: right;
}

#divParagraph1 , #divParagraph2 , #divParagraph3{
     width:200px;
}
#divParagraph1{
    float: left;

}
#divParagraph2{
    float: right;
    margin-right: -200px;
}
#divParagraph3{
    text-align: center;
    display: inline-block;
}
.span{
    width:175px;
    display: inline-block;
}